storage none
source https://www.nuget.org/api/v2

framework: auto-detect

nuget FSharp.Core >= 6.0 lowest_matching: true
nuget GitInfo copy_local: true
nuget Microsoft.SourceLink.GitHub copy_local: true

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json

    framework: netstandard2.0

    nuget FSharp.Core
    nuget Fake.Api.GitHub
    nuget Fake.BuildServer.AppVeyor
    nuget Fake.BuildServer.GitHubActions
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.DotNet.Paket
    nuget Fake.DotNet.Testing.Expecto
    nuget Fake.IO.FileSystem
    nuget Fake.IO.Zip
    nuget Fake.Tools.Git
